h1 {
    font-family: Palatino Linotype;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -25px;
}
h2 {
    font-family: Palatino Linotype;
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}
a {
    font-family: Segoe UI;
    font-size: 20px;
    text-transform: capitalize;
    color:darkcyan;

}
ul {
    margin-top: -50px;
    margin-left: 20px
}
link {
    font-family: Segoe UI;
    font-size: 20px;
    text-transform: capitalize;
    color: darkcyan;
    margin-bottom: -10px;
}

    
